@model BookHeaven.Models.Signup;

@if (ViewBag.ShowEmailTakenMessage != null && ViewBag.ShowEmailTakenMessage)
{
    <script>alert("This email is already taken. Please choose another one.");</script>
}

@{
    string generalMessage = ViewBag.GeneralMessage;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="~/css/loginSignup.css?Version=6.0">
</head>
<body>

    <div class="popup">
        <div class="title">Signup</div>

        <form action="tryToSignup" method="post">
            <div class="mb-3">
                <input type="text" class="form-control formInput" name="firstName" placeholder="First Name" value="@Model.firstName">
                <span class="validation-error">@Html.ValidationMessageFor(x => x.firstName)</span>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control formInput" name="lastName" placeholder="Last Name" value="@Model.lastName">
                <span class="validation-error">@Html.ValidationMessageFor(x => x.lastName)</span>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control formInput" name="email" placeholder="Email" value="@Model.email">
                <span class="validation-error">@Html.ValidationMessageFor(x => x.email)</span>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control formInput" name="password" placeholder="Password" value="@Model.password">
                <span class="validation-error">@Html.ValidationMessageFor(x => x.password)</span>
            </div>

            <span class="validation-error">@generalMessage</span>

            <button type="submit" class="btn btn-primary btn-block">Signup</button>
        </form>

        <div class="text-center">Already have an account? <a href="showLoginView" style="text-decoration: none;">Login now!</a></div>
    </div>

</body>
</html>
