@model BookHeaven.Models.SearchResults

@inject IHttpContextAccessor HttpContextAccessor

@{
    string isLoggedIn = HttpContextAccessor.HttpContext.Session.GetString("isLoggedIn");
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/homePage.css?Version=4">
</head>
<body>

    <p class="fw-bold display-5 mb-4 px-3 py-2">You searched for: @Model.searchQuery</p>


    @if (!string.IsNullOrEmpty(isLoggedIn) && isLoggedIn == "true")
    {
        @if (BookHeaven.Models.User.currentUser.isAdmin == true)
        {
            <div class="adminButtons">
                <a href="/Book/showAddNewBook" id="addNewBookButton" class="">Add New Book</a>
            </div>
        }
    }


    <div class="container">
        <div class="row">
            @foreach (var index in Enumerable.Range(0, Model.books.Count / 4 + (Model.books.Count % 4 == 0 ? 0 : 1)))
            {
                <div class="row">
                    @foreach (Book book in Model.books.Skip(index * 4).Take(4))
                    {
                        string sanitizedName = book.name.Replace("'", "\\'"); // Replace single quote with escaped single quote
                        <div class="col-md-3" onclick="showPopup('@book.imageUrl', '@sanitizedName', '@book.author', '@book.date', @book.bookId, '@book.category', '@book.format', '@book.ageLimitation', @book.price, @book.stock, @book.salePrice)">
                            <div class="item">
                                <img src="@book.imageUrl" alt="Image" class="img-fluid">
                                <span class="item-title">@book.name</span>
                                <p>Genre: @book.category</p>
                                <p>Stock: @book.stock</p>
                                @if (book.price != book.salePrice && book.salePrice != 0)
                                {
                                    <p>Price: <strong>$@book.salePrice</strong> <strike>$@book.price</strike></p>
                                }
                                else
                                {
                                    <p>Price: $@book.price</p>

                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>

    <div class="overlay" id="overlay" onclick="closePopup()"></div>

    <div class="popup" id="popup">
        <span class="close" onclick="closePopup()">❌</span>
        <div class="popup-content">
            <div class="popup-image">
                <img id="popup-image" src="" alt="Book Image">
            </div>
            <div class="popup-details">
                <h2 id="popup-title"></h2>
                <p><strong>Author: </strong><span id="popup-author"></span></p>
                <p><strong>Release Date: </strong><span id="popup-date"></span></p>
                <p><strong>Book Id: </strong><span id="popup-bookId"></span></p>
                <p><strong>Category: </strong><span id="popup-category"></span></p>
                <p><strong>Format: </strong><span id="popup-format"></span></p>
                <p><strong>Age Limitation: </strong><span id="popup-age"></span></p>
                <p><strong>Price: </strong><span id="popup-price"></span></p>
                <p><strong>In-Stock: </strong><span id="popup-stock"></span></p>
            </div>
        </div>

        <div class="popup-buttons">

            @if (!string.IsNullOrEmpty(isLoggedIn) && isLoggedIn == "true")
            {
                @if (BookHeaven.Models.User.currentUser.isAdmin == true)
                {
                    <button id="bookEditButton" class="buttonBlueColor" onclick="editBook()">Edit</button>
                    <button id="bookDeleteButton" class="buttonRedColor" onclick="if(confirmDelete()) deleteBook()">Delete Book</button>

                }
            }
            <button id="bookInfoPageButton" class="buttonBlueColor" onclick="goToBookInfoPage()">Book Info Page</button>

        </div>
    </div>

    <script src="~/js/site.js"></script>
</body>
</html>

