@model BookHeaven.Models.SearchResults

@inject IHttpContextAccessor HttpContextAccessor

@{
    string isLoggedIn = HttpContextAccessor.HttpContext.Session.GetString("isLoggedIn");
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/homePage.css?Version=4">
</head>
<body>

    <p class="fw-bold display-5 mb-4 px-3 py-2">You searched for: <span id="searchQueryString">@Model.searchQuery</span></p>


    <div class="adminButtons">

        @if (!string.IsNullOrEmpty(isLoggedIn) && isLoggedIn == "true")
        {
            @if (BookHeaven.Models.User.currentUser.isAdmin == true)
            {
                <a href="/Book/showAddNewBook" id="addNewBookButton" class="">Add New Book</a>
            }
        }

        <label for="filter" class="filter-label">Filter by:</label>
        <select id="filter" class="filter-select">
            <option value="A - Z" selected="@(ViewBag.SelectedFilter == "A - Z")">A - Z</option>
            <option value="Z - A" selected="@(ViewBag.SelectedFilter == "Z - A")">Z - A</option>
            <option value="Price Ascending" selected="@(ViewBag.SelectedFilter == "Price Ascending")">Price Ascending</option>
            <option value="Price Descending" selected="@(ViewBag.SelectedFilter == "Price Descending")">Price Descending</option>
            <option value="Most Popular" selected="@(ViewBag.SelectedFilter == "Most Popular")">Most Popular</option>
        </select>

        @{
            <script>
            document.addEventListener("DOMContentLoaded", function () {
                var filterSelect = document.getElementById("filter");
                var searchQuery = document.getElementById("searchQueryString").innerText;
                var selectedValue = "@ViewBag.SelectedFilter"; // Get the selected filter option from ViewBag

                // Set the selected value for the dropdown menu
                for (var i = 0; i < filterSelect.options.length; i++) {
                    if (filterSelect.options[i].value === selectedValue) {
                        filterSelect.selectedIndex = i;
                        break;
                    }
                }

                filterSelect.addEventListener("change", function () {
                    selectedValue = filterSelect.value;
                    console.log("Selected value: ", selectedValue);
                    console.log("Search query: ", searchQuery);

                        var editUrl = "/SearchResults/filterBooks?filterBy=" + selectedValue + "&searchQuery=" + searchQuery + "&isCategory=" + @Model.isCategory;
                    window.location.href = editUrl;
                });
            });
            </script>
        }

    </div>


    <div class="container">
        <div class="row">
            @foreach (var index in Enumerable.Range(0, Model.books.Count / 4 + (Model.books.Count % 4 == 0 ? 0 : 1)))
            {
                <div class="row">
                    @foreach (Book book in Model.books.Skip(index * 4).Take(4))
                    {
                        string sanitizedName = book.name.Replace("'", "\\'"); // Replace single quote with escaped single quote
                        <div class="col-md-3" onclick="showPopup('@book.imageUrl', '@sanitizedName', '@book.author', '@book.date', @book.bookId, '@book.category', '@book.format', '@book.ageLimitation', @book.price, @book.stock, @book.salePrice)">
                            <div class="item">
                                <img src="@book.imageUrl" alt="Image" class="img-fluid">
                                <span class="item-title">@book.name</span>
                                <p>Genre: @book.category</p>
                                <p>Stock: @book.stock</p>
                                @if (book.price != book.salePrice && book.salePrice != 0)
                                {
                                    <p>Price: <strong>$@book.salePrice</strong> <strike>$@book.price</strike></p>
                                }
                                else
                                {
                                    <p>Price: $@book.price</p>

                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>

    <div class="overlay" id="overlay" onclick="closePopup()"></div>

    <div class="popup" id="popup">
        <span class="close" onclick="closePopup()">❌</span>
        <div class="popup-content">
            <div class="popup-image">
                <img id="popup-image" src="" alt="Book Image">
            </div>
            <div class="popup-details">
                <h2 id="popup-title"></h2>
                <p><strong>Author: </strong><span id="popup-author"></span></p>
                <p><strong>Release Date: </strong><span id="popup-date"></span></p>
                <p><strong>Book Id: </strong><span id="popup-bookId"></span></p>
                <p><strong>Category: </strong><span id="popup-category"></span></p>
                <p><strong>Format: </strong><span id="popup-format"></span></p>
                <p><strong>Age Limitation: </strong><span id="popup-age"></span></p>
                <p><strong>Price: </strong><span id="popup-price"></span></p>
                <p><strong>In-Stock: </strong><span id="popup-stock"></span></p>
            </div>
        </div>

        <div class="popup-buttons">

            @if (!string.IsNullOrEmpty(isLoggedIn) && isLoggedIn == "true")
            {
                @if (BookHeaven.Models.User.currentUser.isAdmin == true)
                {
                    <button id="bookEditButton" class="buttonBlueColor" onclick="editBook()">Edit</button>
                    <button id="bookDeleteButton" class="buttonRedColor" onclick="if(confirmDelete()) deleteBook()">Delete Book</button>

                }
            }
            <button id="bookInfoPageButton" class="buttonBlueColor" onclick="goToBookInfoPage()">Book Info Page</button>

        </div>
    </div>

    <script src="~/js/site.js"></script>
</body>
</html>

