@model BookHeaven.Models.Book

@inject IHttpContextAccessor HttpContextAccessor

@{
    string isLoggedIn = HttpContextAccessor.HttpContext.Session.GetString("isLoggedIn");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book Page</title>
    <link rel="stylesheet" href="~/css/bookPages.css?Version=6.0.1">
</head>
<body>
    <div class="container">

        <div class="errorMessagesDiv">

            @if (Html.ValidationMessageFor(x => x.name) != null)
            {<span class="validation-error">@Html.ValidationMessageFor(x => x.name)</span><br />}
            @if (Html.ValidationMessageFor(x => x.author) != null)
            {<span class="validation-error">@Html.ValidationMessageFor(x => x.author)</span><br />}
            @if (Html.ValidationMessageFor(x => x.date) != null)
            {<span class="validation-error">@Html.ValidationMessageFor(x => x.date)</span><br />}
            @if (Html.ValidationMessageFor(x => x.category) != null)
            {<span class="validation-error">@Html.ValidationMessageFor(x => x.category)</span><br />}
            @if (Html.ValidationMessageFor(x => x.format) != null)
            {<span class="validation-error">@Html.ValidationMessageFor(x => x.format)</span><br />}
            @if (Html.ValidationMessageFor(x => x.price) != null)
            {<span class="validation-error">@Html.ValidationMessageFor(x => x.price)</span><br />}
            @if (Html.ValidationMessageFor(x => x.imageUrl) != null)
            {<span class="validation-error">@Html.ValidationMessageFor(x => x.imageUrl)</span><br />}
            @if (Html.ValidationMessageFor(x => x.ageLimitation) != null)
            {<span class="validation-error">@Html.ValidationMessageFor(x => x.ageLimitation)</span><br />}

        </div>

        <div class="editForm">
            <h2>Edit Book</h2>
            <form method="post" action="/Book/updateBook">
                <input type="hidden" name="bookId" value="@Model.bookId" />
                <input type="hidden" name="salePrice" value="@Model.salePrice" />
                <input type="hidden" name="stock" value="@Model.stock" />

                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" value="@Model.name">
                </div>
                <div class="form-group">
                    <label for="author">Author:</label>
                    <input type="text" class="form-control" id="author" name="author" value="@Model.author">
                </div>
                <div class="form-group">
                    <label for="date">Date:</label>
                    <input type="text" class="form-control" id="date" name="date" value="@Model.date">
                </div>
                <div class="form-group">
                    <label for="category">Category:</label>
                    <select id="category" class="form-control" name="category">
                        <option value="" disabled>Select an option</option>
                        <option value="Fiction" selected="@(Model.category == "Fiction")">Fiction</option>
                        <option value="Science Fiction" selected="@(Model.category == "Science Fiction")">Science Fiction</option>
                        <option value="Mystery" selected="@(Model.category == "Mystery")">Mystery</option>
                        <option value="Fantasy" selected="@(Model.category == "Fantasy")">Fantasy</option>
                        <option value="Biography" selected="@(Model.category == "Biography")">Biography</option>
                        <option value="Thriller" selected="@(Model.category == "Thriller")">Thriller</option>
                        <option value="Drama" selected="@(Model.category == "Drama")">Drama</option>
                        <option value="Comedy" selected="@(Model.category == "Comedy")">Comedy</option>
                        <option value="Romance" selected="@(Model.category == "Romance")">Romance</option>
                        <option value="Education" selected="@(Model.category == "Education")">Education</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="format">Format:</label>
                    <select id="format" class="form-control" name="format">
                        <option value="" disabled>Select an option</option>
                        <option value="Paperback" selected="@(Model.format == "Paperback")">Paperback</option>
                        <option value="Hardcover" selected="@(Model.format == "Hardcover")">Hardcover</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" class="form-control" id="price" name="price" value="@Model.price">
                </div>
                <div class="form-group">
                    <label for="stock">Stock:</label>
                    <input type="number" class="form-control" id="stock" value="@Model.stock" disabled>
                </div>
                <div class="form-group">
                    <label for="imageUrl">Image URL:</label>
                    <input type="text" class="form-control" id="imageUrl" name="imageUrl" value="@Model.imageUrl">
                </div>
                <div class="form-group">
                    <label for="ageLimitation">Age Limitation:</label>
                    <input type="number" class="form-control" id="ageLimitation" name="ageLimitation" value="@Model.ageLimitation">
                </div>



                <div class="buttons">
                    <button type="submit" class="buttonBlueColor">Update</button>
                    @if (!string.IsNullOrEmpty(isLoggedIn) && isLoggedIn == "true")
                    {
                        @if (BookHeaven.Models.User.currentUser.isAdmin == true)
                        {
                            <a href="/AdminHome/showAdminHome" id="backButton" class="buttonRedColor">Back</a>
                        }
                        else
                        {
                            <a href="/UserHome/showUserHome" id="backButton" class="buttonRedColor">Back</a>
                        }
                    }
                </div>
            </form>

        </div>
    </div>
</body>
</html>
