@model BookHeaven.Models.User;

@{
    string cardNumber = ViewBag.cardNumber;
    if (cardNumber == null)
        cardNumber = ""; 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="~/css/userInfo.css?Version=6.0.2">
</head>
<body>
    <div class="container2">
        <h1>User Profile</h1>
        <button class="logout_button" onclick="userLogout()">Logout</button>
        <button class="edit-button" onclick="editUserInfoButtonClick()">Edit</button>
        <div class="profile-info">
            <h2>User Information</h2>

            <!-- Email input field -->
            <div id="email">
                <p>
                    <strong>Email:</strong>
                    <span id="emailSpan">@Model.email</span>
                </p>
            </div>

            <!-- First name input field -->
            <div id="firstName">
                <p>
                    <strong>First Name:</strong>
                    <span id="firstNameSpan">@Model.fname</span>
                </p>
            </div>

            <!-- Last name input field -->
            <div id="lastName">
                <p>
                    <strong>Last Name:</strong>
                    <span id="lastNameSpan">@Model.lname</span>
                </p>
            </div>

            <!-- Address input fields -->
            <div id="address">
                <p>
                    <strong>Address:</strong>
                    @if (@Model.address != null)
                    {
                        if (Model.address.country != "" && Model.address.city != "" && Model.address.street != "" && Model.address.apartNum != 0)
                        {
                            <span id="addressSpan">@(Model.address.apartNum + ", " + @Model.address.street + ", " + @Model.address.city + ", " + @Model.address.country)</span>
                        }
                        else
                        {
                            <span id="addressSpan"></span>
                        }
                    }
                    else
                    {
                        <span id="addressSpan"></span>
                    }
                    <button class="delete-button" onclick="if(confirmDelete()) deleteAddress()">🗑️</button>
                </p>
            </div>

            <!-- Credit card input fields -->
            <div id="creditCard">
                <p>
                    <strong>Credit Card:</strong>
                    @if (@Model.creditCard != null)
                    {
                        if (Model.creditCard.number != "" && Model.creditCard.date != "" && Model.creditCard.ccv != 0)
                        {
                            <span id="creditCardSpan">@(cardNumber + " | " + @Model.creditCard.date + " | " + @Model.creditCard.ccv)</span>
                        }
                        else
                        {
                            <span id="creditCardSpan"></span>
                        }
                    }
                    else
                    {
                        <span id="creditCardSpan"></span>
                    }
                    <button class="delete-button" onclick="if(confirmDelete()) deleteCreditCard()">🗑️</button>
                </p>
            </div>
        </div>

        <div class="purchase-history">
            <h1>Purchase History</h1>

            @{
                if (Model.orders != null && Model.orders.Count != 0)
                {

                    foreach (Order order in Model.orders)
                    {

                        <div class="order-details">
                            <div class="order-info">
                                <div class="row">
                                    <h5>Order Id: @order.orderId</h5>
                                    <h5>Tracking Number: @order.shippingNum</h5>
                                    <h5>Total Price: $@order.totalPrice</h5>
                                </div>
                                <div class="row">
                                    <h5>Order Date: @order.orderDate</h5>
                                    <h5>Shipping Date: @order.shippingDate</h5>
                                </div>
                            </div>

                        </div>
                        <div class="purchase-table">
                            <table>

                                @if (order.orderItems != null)
                                {
                                    <thead>
                                        <tr>
                                            <th>Book Name</th>
                                            <th>Quantity</th>
                                            <th>Price Per Book</th>
                                            <th>Total For Item</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (OrderItem orderItem in order.orderItems)
                                        {
                                            <tr>
                                                <td>@orderItem.bookName</td>
                                                <td>@orderItem.quantity</td>
                                                <td>$@orderItem.price</td>
                                                <td>$@(orderItem.quantity * orderItem.price)</td>
                                            </tr>
                                        }

                                    </tbody>
                                }

                            </table>
                        </div>


                    }
                }
            }

        </div>
    </div>
</body>
</html>


